// SASS переменные

// Primary
$color-primary: #B39166;
$color-primary-hover: #C2A784;
$color-primary-touch: #A48051;

// Secondary
$color-secondary: #D6B384;
$color-secondary-hover: #E0C5A3;
$color-secondary-touch: #CCA066;
$color-secondary-additional: #EBD6B4;

// Text
$color-white: #ffffff;
$color-bg: #F5F2F0;
$color-bg-additional: #D9CCBF;
$color-mist-100: #2E1C17;
$color-mist-50: #978D8B;
$color-mist-25: #CBC6C5;
$color-mist-10: #EAE8E8;
$color-mist-5: #F5F4F3;

// Status
$color-error: #993643; // #C5283D;
$color-success: #40806D; // #00A676;
$color-warning: #E5A667; // #F7B267;

$ff-title: "Literaturnaya", "Times New Roman", Times, serif;
$ff-primary: 'Inter', Arial, sans-serif;
