// Mobile menu

.mobile-menu {
    display: none;
    position: fixed;
    right: -100vw;
    width: 100%;
    height: 100%;
    background-color: $color-bg;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    
    &--show {
        display: block;
    }
    
    &--open {
        right: 0;
    }
}

.mobile-menu__phone,
.mobile-menu__email {
    margin-bottom: 16px;
    padding-left: 8px;

    a {
        display: inline-block;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 24px;
        text-decoration: none;
    }
}

.mobile-menu__social.social {
    padding-left: 8px;
}
