// Socials

.social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social__item {
    display: inline-block;
    width: 24px;
    height: 24px;

    & + & {
        margin-left: 4px;
    }
}

.social__link {
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
    text-decoration: none;
    border: 1px solid $color-mist-100;
    transition: border 0.25s ease;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 34px;
        height: 1px;
        background-color: $color-mist-100;
        transition: background-color 0.25s ease;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);        
    }

    &:focus,
    &:hover {
        border-color: $color-primary-hover;

        &:before,
        &:after {
            background-color: $color-primary-hover;
        }
    }

    &:active {
        border-color: $color-primary-touch;

        &:before,
        &:after {
            background-color: $color-primary-touch;
        }
    }
}
